body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #dcdcdc; /* Gris claro del fondo */
}

/* HEADER */
.main-header {
    display: flex;
    align-items: center;
    gap: 1px;
    background-color: #009245;
    padding: 5px;
}

.logo-box {
    background-color: white;
    padding: 0.1px;
    border-radius: 7px;
}

.logo-box img {
    max-width: 350px;
}

.header-text {
    color: white;
    text-align: center;
    flex: 1;
}

.header-text p {
    margin: 5px 0;
}

h1 {
    margin: 0;
}

/* SERVICES */
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.services {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px 0;
    list-style: none; /* quita bullets */
    padding: 0; /* elimina padding de ul */
}

.service {
    background: #ecf0f1; /* Fondo claro de las tarjetas */
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    flex: 1 1 30%;
    text-align: center;
}

.service i {
    font-size: 50px;
    color: #009245; /* Verde del logo */
}

/* FORM */
form {
    background: #ecf0f1; /* Fondo claro del formulario */
    padding: 20px;
    border-radius: 5px;
    margin: 20px 0;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #bdc3c7;
    border-radius: 5px;
}

button {
    background: #009245; /* Verde del logo */
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background: #00773c; /* Verde más oscuro del eslogan */
}

/* FOOTER */
footer {
    text-align: center;
    padding: 0.01px;
    background-color: #009245;
    color: white;
}

@media (max-width: 768px) {
    .services {
        flex-direction: column;
        align-items: center;
    }
    .service {
        flex: 1 1 80%;
    }
}